<div class = "chat_header">
  <div class = 'chat_name'>
    hogafuga
  </div>
  <div class = 'chat_end_btn'>
    <a href = '#'>チャットを終了する</a>
  </div>
</div>

<div class = "posted_mgs">
  
  <div class = "mgs">
    <div class = "mgs_info">
      <div class = "post_username">
        Tom
      </div>
      <div class = "post_date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class = 'mgs_contents'>
      おはよう
    </div>
  </div>

  <div class = "mgs">
    <div class = "mgs_info">
      <div class = "post_username">
        Tom
      </div>
      <div class = "post_date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class = 'mgs_contents'>
      こんばんは
    </div>
  </div>

</div>

<div class = "new_mg">
  
  <div class = "input-mg">
    <input type = "text" placeholder = "tyep a mesaage" class = "mg">

    <label class = "img_mg">
      <span class = "img_file">画像</span>
      <input type = "file" class = "hidden">
    </label>
  </div>
    
    <input class = "send_btn" type = "submit" value = "送信">
   
  
</div>