<div class = "new_chatroom">
  <div class = "username">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "room_btn">
    <a href = '#'>チャットを作成する</a>
  </div>
</div>

<div class = "chat_overview">
  <div class = 'room_name'>
    <a href = '#' class = "room_url">techroom1</a>
  </div>
  <div class = 'room_name'>
    <a href = '#' class = "room_url">techroom2</a>
  </div>

</div>